@using Proyecto.Clases;
@model TipoCLS;
@{
    ViewData["Title"] = "AgregarTipo";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Agregar Tipo</h3></div>
                <div class="card-body">
                    <form method="post" asp-action="AgregarTipo" asp-controller="Tipo" onsubmit="return submitForm(this);">

                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="tipo" id="inputTipo" placeholder="Ingresa el tipo" />
                            <label for="inputTipo" class="control-label" asp-for="tipo">Tipo</label>
                            <span asp-validation-for="tipo" class="text-danger"></span>
                        </div>



                        <div class="mt-4 mb-0">
                            <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Agregar" /></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/alerts.js"></script>


